@import '@repo/ui/globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .bg-scanline {
    background:
      linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      );
    background-size:
      100% 4px,
      3px 100%;
  }
}
